.anecdote-image {
  max-height: 20rem;
  max-width: 20rem;
}

.anecdote-link {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 1rem;
}

.anecdote-container {
    max-width: 100%;
}
